In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data.csv')

In [3]:
import numpy as np

In [5]:
def entropy(Y):
    Y_unique = np.unique(Y)
    total = Y.shape[0]
    ent = 0.0
    
    for y in Y_unique:
        count = np.sum(Y == y)
        prob = count/total
        ent += -prob * np.log2(prob)
        
    return ent

In [6]:
data

   price  maintenance   capacity  airbag  profitable
0    low          low          2      no         yes
1    low          med          4     yes          no
2    low          low          4      no         yes
3    low         high          4      no          no
4    mid          mid          4      no          no
5    mid          mid          4     yes         yes
6    mid         high          2     yes          no
7    mid         high          5      no         yes
8   high          mid          4     yes         yes
9   high         high          2     yes          no
10  high         high          5     yes         yes

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
le = LabelEncoder()

In [13]:
for col in data.columns:
    data[col] = le.fit_transform(data[col])

In [14]:
data

    price   maintenance   capacity   airbag   profitable
0       1             1          0        0            1
1       1             2          1        1            0
2       1             1          1        0            1
3       1             0          1        0            0
4       2             3          1        0            0
5       2             3          1        1            1
6       2             0          0        1            0
7       2             0          2        0            1
8       0             3          1        1            1
9       0             0          0        1            0
10      0             0          2        1            1

In [16]:
le.fit_transform?