In [12]:
import pandas as pd

In [64]:
data = pd.read_csv('data.csv')

In [65]:
for index in range(data.shape[0]):
    if data['price'][index] == 'low':
        data['price'][index] = 0
    elif data['price'][index] == 'mid':
        data['price'][index] = 1
    else:
        data['price'][index] = 2
    
    if data['maintenance'][index] == 'low':
        data['maintenance'][index] = 0
    elif data['maintenance'][index] == 'mid':
        data['maintenance'][index] = 1
    else:
        data['maintenance'][index] = 2

C:\Users\Monika\AppData\Local\Temp/ipykernel_8552/3140148796.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['price'][index] = 0
C:\Users\Monika\AppData\Local\Temp/ipykernel_8552/3140148796.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['maintenance'][index] = 0
C:\Users\Monika\AppData\Local\Temp/ipykernel_8552/3140148796.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['maintenance'][index] = 1
C:\Users\Monika\AppData\Local\Temp/ipykernel_8552/3140148796.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['maintenance'][index] = 2
C:\Users\Monika\AppData\Local\Temp/ipykernel_8552/3140148796.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['price'][index] = 1
C:\Users\Monika\AppData\Local\Temp/ipykernel_8552/3140148796.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['price'][index] = 2

In [66]:
data

   price maintenance  capacity airbag profitable
0      0           0         2     no        yes
1      0           1         4    yes         no
2      0           0         4     no        yes
3      0           2         4     no         no
4      1           1         4     no         no
5      1           1         4    yes        yes
6      1           2         2    yes         no
7      1           2         5     no        yes
8      2           1         4    yes        yes
9      2           2         2    yes         no
10     2           2         5    yes        yes

In [67]:
import numpy as np

In [68]:
def entropy(Y):
    Y_unique = np.unique(Y)
    total = Y.shape[0]
    ent = 0.0
    
    for y in Y_unique:
        count = np.sum(Y == y)
        prob = count/total
        ent += -prob * np.log2(prob)
        
    return ent

In [69]:
data

   price maintenance  capacity airbag profitable
0      0           0         2     no        yes
1      0           1         4    yes         no
2      0           0         4     no        yes
3      0           2         4     no         no
4      1           1         4     no         no
5      1           1         4    yes        yes
6      1           2         2    yes         no
7      1           2         5     no        yes
8      2           1         4    yes        yes
9      2           2         2    yes         no
10     2           2         5    yes        yes

In [70]:
from sklearn.preprocessing import LabelEncoder

In [71]:
le = LabelEncoder()

In [72]:
for col in data.columns:
    data[col] = le.fit_transform(data[col])

In [73]:
data

    price  maintenance  capacity  airbag  profitable
0       0            0         0       0           1
1       0            1         1       1           0
2       0            0         1       0           1
3       0            2         1       0           0
4       1            1         1       0           0
5       1            1         1       1           1
6       1            2         0       1           0
7       1            2         2       0           1
8       2            1         1       1           1
9       2            2         0       1           0
10      2            2         2       1           1

In [74]:
def divide_data(data, attribute, threshold):
    left = pd.DataFrame([], columns = data.columns)
    right = pd.DataFrame([], columns = data.columns)
    
    for ix in range(data.shape[0]):
        if data[attribute].loc[ix] < threshold:
            left = left.append(data.loc[ix])
        else:
            right = right.append(data.loc[ix])
    
    return left, right

def info_gain_ent(data, ent, attribute, threshold):
    left, right = divide_data(data, attribute, threshold)
    
    ig = ent - entropy(left['profitable']) - entropy(left['profitable'])
    
    return ig

In [ ]:
info_gains = []
for col in data.columns: