In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import time
from sklearn.datasets import load_boston

In [2]:
boston = load_boston()

In [27]:
X = boston.data
Y = boston.target

In [28]:
df = pd.DataFrame(X, columns = boston.feature_names)

In [29]:
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [30]:
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [31]:
## Since mean is not 0 and std is not 1 we need to normalize the data
u = np.mean(X, axis = 0)
std = np.std(X, axis = 0)

X = (X-u)/std

In [32]:
## adding X0 for theta0 to the X array
X0 = np.ones((X.shape[0], 1))
X = np.hstack((X0, X))

In [35]:
X[:5,:]

array([[ 1.        , -0.41978194,  0.28482986, -1.2879095 , -0.27259857,
        -0.14421743,  0.41367189, -0.12001342,  0.1402136 , -0.98284286,
        -0.66660821, -1.45900038,  0.44105193, -1.0755623 ],
       [ 1.        , -0.41733926, -0.48772236, -0.59338101, -0.27259857,
        -0.74026221,  0.19427445,  0.36716642,  0.55715988, -0.8678825 ,
        -0.98732948, -0.30309415,  0.44105193, -0.49243937],
       [ 1.        , -0.41734159, -0.48772236, -0.59338101, -0.27259857,
        -0.74026221,  1.28271368, -0.26581176,  0.55715988, -0.8678825 ,
        -0.98732948, -0.30309415,  0.39642699, -1.2087274 ],
       [ 1.        , -0.41675042, -0.48772236, -1.30687771, -0.27259857,
        -0.83528384,  1.01630251, -0.80988851,  1.07773662, -0.75292215,
        -1.10611514,  0.1130321 ,  0.41616284, -1.36151682],
       [ 1.        , -0.41248185, -0.48772236, -1.30687771, -0.27259857,
        -0.83528384,  1.22857665, -0.51117971,  1.07773662, -0.75292215,
        -1.10611514,  0.1130321 ,  0.44105193, -1.02650148]])

In [12]:
df_dataset = pd.read_csv("../Datasets/car sales.csv")

# train test split
df_train = df_dataset[:-6]
df_test = df_dataset[-6:]

# pandas data frame into numpy array
train = df_train.values
test = df_test.values

# convert time data into integer for linear regression

def time2int(npdata):
    # split date time
    datetime = np.char.split(npdata[:,0].astype(str), sep = '-')
    datetime = np.vstack(datetime)
    
    # year = datetime[:, 0].astype(int)
    # month = datetime[:, 1].astype(int)
    datetime = datetime.astype(int)
    
    return datetime

X = time2int(train)
X = np.array(X, dtype='int')

Y = train[:, 1]


#Normalization
X = X - X.mean(axis=0) / X.std(axis=0)

## adding X0 for theta0 to the X array
X0 = np.ones((X.shape[0], 1))
X = np.hstack((X0, X))

In [13]:
def hypothesis(X, theta):
    return np.dot(X, theta)

In [14]:
def error(X, Y, theta):
    e = 0.0
    m = X.shape[0]
    Y_ = hypothesis(X, theta)
    e = np.sum((Y - Y_)**2)
    
    return e/m

In [15]:
def gradient(X, Y, theta):
    m = X.shape[0]
    Y_ = hypothesis(X, theta)
    grad = np.dot(X.T, (Y_ - Y))
    
    return grad/m

In [16]:
def gradientDescent(X, Y, learning_rate = 0.1, max_epochs = 300):
    m = X.shape[0]
    n = X.shape[1]
    
    theta = np.zeros((n,))
    theta_list = []
    error_list = []
    
    for i in range(max_epochs):
        grad = gradient(X, Y, theta)
        #print(grad.shape)
        theta = theta - (learning_rate*grad)
        theta_list.append(theta)
        
        e = error(X, Y, theta)
        error_list.append(e)
        
    return theta_list, error_list

In [17]:
theta_list, error_list = gradientDescent(X, Y, max_epochs = 1000)

OverflowError: (34, 'Result too large')

(30, 3)

In [57]:
Y_ = hypothesis(X, theta_list[999])

In [58]:
def r2_score(Y_, Y):
    num = np.sum((Y_ - Y)**2)
    denomi = np.sum((Y.mean() - Y)**2)
    
    score = 1 - num/denomi
    
    return score*100

In [59]:
r2_score(Y_, Y)

74.06426389943455